@use "../../styles/_partials/global" as *;
@use "../../styles/_partials/mixins" as *;
@use "../../styles/_partials/typography" as *;
@use "../../styles/_partials/variables" as *;

.delete-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        background-color: $white;
        padding: 20px;
        border-radius: 8px;
        width: 400px;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        font-size: 16px;
        cursor: pointer;
    }
}
  