@use "./styles/_partials/variables" as *;
@use "./styles/_partials/global" as *;
@use "./styles/_partials/mixins" as *;
@use "./styles/_partials/variables" as *;

::after,
::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}